body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.calculator{
    background-color: grey;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px;
    border: 2px solid black;

}
.display{
    width: 460px;
    height: 150px;
    background-color: lightgrey;
    border-radius: 16px;
    align-self: center;
    margin: 20px;
    margin-bottom: 0px;
}
.buttons{
    display:flex;
    justify-content: space-between;
    width: 460px;
    flex-wrap: wrap;
    gap: 20px;
    align-self: center;
    margin: 20px;
}
.buttons > * {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    border: none;
    font-size: larger;
}